body, html {
    height: 100%;
}

.bg { 
    /* The image used */
    background-image: url("../images/fondo.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo img {
    display : block;
    margin : auto;
}

.principal {
	background-image: url('../images/fondo.jpg');
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}